# helm
/helm/charts/*
!/helm/charts/.gitkeep
/helm/*.lock

###> symfony/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/*
!/app/var/.gitkeep
/app/vendor
/app/.env.*
!/app/.env
!/app/.env.test
!/app/migrations/.gitkeep
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
/app/.phpunit
/app/.phpunit.result.cache
/app/phpunit.xml
###< symfony/phpunit-bridge ###

/.idea/
/.composer/
/.symfony/
/.vscode/
.bash_history
/app/.config
